@import url(common/reset.css);
.padding_parent{
    width: 600px;
    height: 500px;
    border: 1px solid #000000;
    margin: 0 auto;
    /* padding-top: 100px;
    padding-left: 100px;
    box-sizing: border-box; */
    box-sizing: border-box;
    padding-top: 200px;
    padding-left: 75px;
}
.padding_parent .padding_child{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
}
.padding_parent .padding_child.one{
    background-color: #ff0000;
    
}
.padding_parent .padding_child.two{
    background-color: #00ff00;
    margin: 0 75px ;
}
.padding_parent .padding_child.three{
    background-color: #0000ff;
}