/* 기본 스타일 설정 */
*{
  margin: 0;
  padding: 0;
}
/* 기본 스타일 설정 */
#wrap{
  width: 1200px;
  height: 600px;
  background-color: #b1b1b1;
  /* 부모의 가로가운데 */
  margin: 0 auto;  
}
/* #wrap  하위 선택자  */
#wrap .header{
  width: 100%;
  height: 100px;
  background-color: chartreuse;
  /* 텍스트(글색상) */
  color: #ffffff;
  font-size: 50px;
/* 텍스트의 가로정렬 기본 left */
  text-align:center ;
  /* 세로가운데 방법1  */
  line-height: 100px;
}
#wrap .container{
  width: 100%;
  height: 400px;
  line-height: 400px;
  background-color: blueviolet;
  /* 텍스트(글색상) */
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}
#wrap .footer{
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #000000;
   /* 텍스트(글색상) */
   color: #ffffff;
   font-size: 50px;
   text-align: center;
}